.page-content
    padding-top: 148px
    &__chapter
        margin-bottom: 35px
        position: relative
        .slick-slider, .slick-slider img
            width: 770px
        .slider-arrows
            bottom: 12px

        &_margin
            margin-bottom: 50px
            position: relative

    &__chapter-do-posle, &__chapter-home
        margin-bottom: 35px
        position: relative
        .before-after, .before-after2, .before-after3, .before-after4, .before-after5, .before-after6, .before-after7, .before-after8
            height: 560px
            margin-bottom: 0
            &__procedure
                position: relative
                left: 1%
                top: 0
                margin-top: -90px
                transform: none
                background: #fff
        .procedure
            width: 90%

    &__chapter-home
        .before-after, .before-after2, .before-after3, .before-after4, .before-after5, .before-after6, .before-after7, .before-after8
            &__procedure
                margin-top: -30px
        .slick-slider
            height: 600px
        .slick-list
            overflow: visible
        .slider-arrows
            bottom: 28px
        .procedure
            width: 80%

    &__before-after-link
        display: none
        color: #01BBF6
        font-size: 14px
        font-weight: 500
        line-height: 22px
        letter-spacing: 0.14px
        text-decoration: none
        bottom: 32px
        position: relative

    &__banner
        width: 100%
        padding: 40px 20px
        border-radius: 5px 45px 45px 45px

        display: flex
        flex-direction: column
        justify-content: flex-end
        margin-bottom: 35px

        position: relative
        &_galerea
            padding: 0
            .page-content__banner-wrapper
                position: relative
                img
                    height: 260px

        &_optg
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-01.jpg) center top/cover no-repeat
        &_optg2
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-01-2.jpg) center top/cover no-repeat
        &_snapshot
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-02.jpg) center top/cover no-repeat
        &_diagnostika
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-01.jpg) center top/cover no-repeat
        &_protezirovanie
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-8.jpg) center /cover no-repeat
            &_min
                height: 260px
        &_syemnoe
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-03.jpg) center /cover no-repeat
        &_akrilovyye
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-022.jpg) center /cover no-repeat
        &_byugelnyye
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-021.jpg) center /cover no-repeat
        &_ne-syemnoe
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-02.jpg) center /cover no-repeat
        &_viniry
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-023.jpg) center /cover no-repeat
        &_koronki
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-04.jpg) center /cover no-repeat
        &_abatmenty
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-02.jpg) center /cover no-repeat
        &_vkladki
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-024.jpg) center /cover no-repeat
        &_terapiya
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-05.jpg) center /cover no-repeat
        &_plomby
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-06.jpg) center /cover no-repeat
        &_kanaly
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-07.jpg) center /cover no-repeat
        &_kariyes
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-08.jpg) center /cover no-repeat
            &_min
                height: 260px

        &_khirurgiya
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-04.jpg) center /cover no-repeat
            &_min
                height: 260px
        &_udaleniye
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-09.jpg) center /cover no-repeat
        &_udaleniye-prostoe
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-01-2.jpg) center /cover no-repeat
        &_udaleniye-slozhnoye
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-01.jpg) center /cover no-repeat
        &_implantatsiya
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-02.jpg) center /cover no-repeat
            &_min
                height: 260px
        &_implantatsiya-odnomoment
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-02.jpg) center/cover no-repeat

        &_sinus-lifting
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-01.jpg) center /cover no-repeat
        &_ortodontiya
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-06.jpg) center /cover no-repeat
        &_apparat
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-04.jpg) center /cover no-repeat
        &_elayner
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-010.jpg) center /cover no-repeat
        &_elayner-2
            height: 342px
            background: url(assets/img/page/servise/content-page-services-027.jpg) center /cover no-repeat
        &_gigiena
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-05.jpg) center /cover no-repeat
        &_airflow
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-025.jpg) center /cover no-repeat
        &_zoom
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/price/page-services-07.jpg) center /cover no-repeat
        &_gnatologiya
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-026.jpg) center /cover no-repeat

        &_tomografiya
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-020.jpg) center /cover no-repeat

        &_axiography
            height: 342px
            background: linear-gradient(55deg, #201535, transparent), url(assets/img/page/servise/content-page-services-08.jpg) center /cover no-repeat

    &__banner-wrapper
        width: 100%
        height: auto
        overflow: hidden

        border-radius: 5px 45px 45px 45px

        position: absolute
        left: 0
        top: 0
        img
            position: relative
            width: 100%
            height: 346px
            object-fit: cover
            border-radius: 5px 45px 45px 45px
            z-index: -1

    &__procedure
        position: absolute
        left: 50%
        bottom: -14px
        transform: translateX(-50%)

        background: #fff

    &__first-decor
        display: none
    &__name
        font-weight: 900
        font-size: 36px
        line-height: 36px
        color: #01BDF8
        margin-bottom: 15px
        position: relative
        z-index: 3

    &__btn-call
        z-index: 3
    &__label
        position: absolute
        right: 50px
        top: 50px

        width: 72px
        height: 72px
        background: #FF5670
        box-shadow: 0px 8px 15px rgba(7, 0, 59, 0.1)
        border-radius: 1px 15px 15px 15px

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        font-weight: 400
        font-size: 12px
        line-height: 12px
        letter-spacing: 0.08em
        text-transform: uppercase
        color: #fff
        span
            font-weight: 700
            font-size: 16px
            line-height: 22px
            margin-top: 5px
        &_smal
            span
                font-size: 14px
                line-height: 16px

    &__text
        font-weight: 400
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $gray-text
        margin-bottom: 25px
        b
            color: $black-1
    &__title
        font-weight: 900
        font-size: 28px
        line-height: 27px
        color: $black-1
        margin-bottom: 25px
        &_sub
            font-size: 20px
            line-height: 21px

    &__list
        margin-bottom: 25px
        display: flex
        margin-right: 20px
        &_gif
            margin-right: 0
            ul
                margin-right: 20px
        ul
            width: 100%
            li
                position: relative
                margin-bottom: 20px
                margin-left: 18px
                display: flex

                font-weight: 500
                font-size: 14px
                line-height: 18px
                letter-spacing: 0.01em
                color: $black-1

                &::before
                    content: ''
                    display: block
                    width: 12px
                    height: 12px
                    border-radius: 90px
                    background: #01B5EE
                    margin-right: 10px

                    position: absolute
                    left: -18px
                    top: 2px
                &:last-child
                    margin-bottom: 0
    &__column-wrapper
        display: flex
    &__column
        width: 50%
    &__infobox
        padding: 15px 25px 15px 94px
        background: #B3EBFC
        border-radius: 15px 15px 15px 1px

        font-weight: 400
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $black-1

        position: relative
        span
            text-decoration: line-through

        &::before
            content: ''
            display: block
            background: url(assets/img/icons/page/infobox.svg)
            width: 64px
            height: 64px

            position: absolute
            left: 12px
            top: 50%
            transform: translateY(-50%)
    &__banner-video
        background: #C39EFF
        border-radius: 1px 15px 15px 15px
        padding: 20px
        position: relative
        display: flex
        justify-content: center
        img
            border-radius: 15px
    &__rotate
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

    &__table
        display: flex
    &__column-table
        &:nth-child(1)
            width: 76%
        &:nth-child(2)
            width: 24%
            padding-left: 21px
        img
            margin-bottom: 15px
        p
            font-weight: 700
            font-size: 16px
            line-height: 22px
            letter-spacing: 0.01em
            color: $black-1
            margin-bottom: 15px
    &__carousel
        display: flex
        .carousel
            &__wrapper
                margin-bottom: 24px
                padding-right: 8px
                button
                    margin: 0 auto
                &:last-child
                    padding-right: 0
            &__photo
                width: auto
                height: auto
            &__text
                padding: 0 5px
    &__wrapper
        display: flex
        margin-bottom: 35px
    &__comparison
        tr, th, td
            border: .3px solid $btn-lilac
            padding: 12px
            vertical-align: middle
        thead, td:first-child
            font-weight: 500
        thead
            background: #c7d5fb
            th
                &:nth-child(1)
                    width: 20%
                &:nth-child(2), &:nth-child(3)
                    width: 40%
        tbody
            tr
                &:nth-child(2n)
                    background: #efefef
                

.table-service
    margin-bottom: 25px
    width: 100%
    tr
        border: 2px solid $btn-lilac
        border-left: none
        border-right: none
    &__name
        display: flex
        align-items: center
        height: 90px
        padding-right: 41px
        font-weight: 400
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.01em
        color: $gray-text
        margin-bottom: 0
        border-right: 2px solid $btn-lilac
    &__price
        width: 24%
        padding-left: 41px
        font-weight: 500
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.01em
        color: $black-1

    &__btn
        display: flex
        a
            margin-right: 15px
            &:last-child
                margin-right: 0

.review-page
    width: 24%
    padding: 16px 12px
    margin-right: 18px
    border-radius: 15px 15px 15px 1px
    transition: .3s
    &:nth-child(1)
        background: #EDE2FF
    &:nth-child(2)
        background: #B3EBFC
    &:nth-child(3)
        background: #FEF4C0
    &:nth-child(4)
        background: #FFCCD4
        margin-right: 0
    &:hover
        box-shadow: 0px 8px 15px rgba(7, 0, 59, 0.1)

    img
        border-radius: 15px 15px 15px 1px
        margin-bottom: 10px
    a
        font-weight: 500
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $black-1
        text-decoration: none
    &__name
        font-weight: 700
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $black-1
        margin-bottom: 10px
    &__text
        font-weight: 400
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.01em
        color: $gray-text
        margin-bottom: 10px

/* СТРАНИЦА Галерея */
.galerea-tab
    display: flex
    justify-content: flex-start
    margin-bottom: 30px
    &__links
        width: 158px
        height: 80px
        padding: 15px 5px 15px 15px

        border-radius: 1px 15px 15px 15px
        background: #FFF
        box-shadow: 0px 8px 15px 0px rgba(7, 0, 59, 0.10)
        border: none
        cursor: pointer
        text-align: left

        transition: .3s

        margin-right: 20px
        &-title
            color: $black-1
            font-size: 14px
            font-weight: 700
            margin-bottom: 5px
        &-subtitle
            color: $gray-text
            font-size: 14px
            font-weight: 400
            line-height: 18px
            letter-spacing: 0.14px
            opacity: 0.800000011920929
        &.active
            background: #C39EFF
            .galerea-tab__links-subtitle
                color: #fff
    &__content
        display: none
    &__content.active
        display: block

    &__column
        width: 50%
    &__video-wrapper
        border-radius: 1px 15px 15px 15px
        background: #FEF4C0

    &__video
        display: flex
        justify-content: center

        padding: 10px
        iframe
            width: 100%
            height: 200px
            border-radius: 15px
