.page-main-section
    &_about
        background: linear-gradient(to bottom, #E8F1FF 100%, rgba(255,255,255,0) 0%)
        &__form
            top: 474px
            
.text-visible, .text-hidden
    padding-right: 100px
        

.page-about-section
    &__container
        display: flex
        margin-bottom: 65px
    &__column
        position: relative
        &:nth-child(1)
            width: 32%
            margin-right: 20px
        &:nth-child(2)
            width: 66%
    &__decor-lilac
        position: absolute
        left: -94px
        top: -90px
        border-radius: 5px 200% 5px 5px
    &__decor-blue
        position: absolute
        bottom: -100px
        right: 0
        border-radius: 200% 5px 5px 5px

    &__buttons-page
        margin-bottom: 45px
        a
            margin-bottom: 10px
    &__btn-wrapper
        margin-bottom: 35px
        a
            margin-bottom: 2px



/* Правая колонка контента */
.page-about-section
    &__banner
        height: 342px
        width: 100%
        border-radius: 5px 45px 45px 45px
        background: url(assets/img/page/page-banner.jpg) center top/cover no-repeat
        margin-bottom: 50px

        display: flex
        align-items: flex-end
        padding-left: 35px
        &_laboratoriya
            background: url(assets/img/page/servise/content-page-services-06.jpg) center /cover no-repeat
        &_garantiya
            background: url(assets/img/page/about/about-01.jpg) center /cover no-repeat
        &_rassrochka
            background: url(assets/img/page/about/about-02.jpg) center /cover no-repeat
        &_vychet
            background: url(assets/img/page/about/about-03.jpg) center /cover no-repeat

    &__column
        &:first-child
            margin-bottom: 70px
    &__label
        width: 190px
        height: 102px

        box-shadow: 0px 8px 15px rgba(7, 0, 59, 0.1)
        border-radius: 1px 15px 15px 15px
        display: flex
        flex-direction: column
        justify-content: center

        padding: 15px
        margin-right: 15px
        margin-bottom: -25px

        background: #FF5670
        font-weight: 400
        font-size: 14px
        line-height: 18px
        letter-spacing: 0.01em
        color: #FFFFFF
        span
            font-weight: 900
            font-size: 34px
            line-height: 33px
            letter-spacing: -0.08em
            color: $black-1
            margin-bottom: 4px
        &_lilac
            background: $btn-lilac
            font-size: 13px
        &_yellow
            background: #FDDB2C
            color: $black-1
    &__chapter
        position: relative
        margin-bottom: 35px
        &:nth-child(3)
            margin-bottom: 118px
        .slider-arrows
            bottom: -10px

    &__text
        font-weight: 400
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $gray-text
        margin-bottom: 25px

    &__title
        font-weight: 900
        font-size: 28px
        line-height: 27px
        color: $black-1
        margin-bottom: 25px
    &__slider-wrapper
        margin-bottom: 30px
    &__slider
        position: relative
        height: 342px
        margin-bottom: 100px
        .slider-arrows
            bottom: -66px

        .slider-counter, .total-slides
            font-weight: 400
            font-size: 16px
            line-height: 22px
            letter-spacing: 0.01em
            color: $gray-text

        .current-slide
            font-weight: 700
            font-size: 16px
            line-height: 22px
            letter-spacing: 0.01em
            color: $black-1

    &__slider-wrapper
        display: none
        img
            border-radius: 5px 45px 45px 45px
    &__slider-wrapper.slick-initialized
        display: block
    &__stages
        display: flex
    &__stages-item
        width: 26%
        padding: 10px
        box-shadow: 0px 8px 15px rgba(7, 0, 59, 0.1)
        border-radius: 15px 15px 15px 1px
        &:nth-child(1)
            background: #EDE2FF
            span
                color: $btn-lilac
        &:nth-child(2)
            background: #B3EBFC
            z-index: 1
            margin-left: -10px
            span
                color: #01B8F3
        &:nth-child(3)
            background: #FEF4C0
            z-index: 2
            margin-left: -10px
            span
                color: #FDDB2C
        &:nth-child(4)
            background: #FFCCD4
            z-index: 3
            margin-left: -10px
            span
                color: #FF5670
        span
            width: 60px
            height: 60px
            font-weight: 900
            font-size: 42px
            line-height: 41px
            letter-spacing: -0.02em
            background: #fff
            border-radius: 15px 15px 15px 1px

            padding-top: 7px
            display: flex
            align-items: center
            justify-content: center
            margin-bottom: 12px
    &__stages-title
        font-weight: 700
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $black-1
        margin-bottom: 10px
        padding-right: 10%

    &__stages-text
        font-weight: 400
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.01em
        color: $gray-text
    &__quote
        margin-top: 55px
        margin-bottom: 120px
        display: flex
        position: relative
        img
            width: 181px
            height: 181px
            border-radius: 45px 45px 1px 45px
            margin-right: 20px

    &__quote-text
        height: 181px
        background: #EDE2FF
        border-radius: 15px 15px 15px 1px

        font-style: italic
        font-weight: 500
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.01em
        color: $black-1

        display: flex
        align-items: center
        justify-content: center

        padding: 25px 15px

    &__quote-label
        position: absolute
        left: 100px
        bottom: -80px

        padding: 15px
        background: #FF5670
        box-shadow: 0px 8px 15px rgba(7, 0, 59, 0.1)
        border-radius: 1px 15px 15px 15px

        color: #fff
        font-weight: 400
        font-size: 14px
        line-height: 18px
        letter-spacing: 0.01em

        display: flex
        flex-direction: column
        span
            font-weight: 700
            font-size: 16px
            line-height: 22px
            margin-bottom: 2px
    &__advantages-wrapper
        display: flex
        flex-wrap: wrap
    &__advantages
        width: 33%
        text-align: center
        padding: 0 12px
        margin-bottom: 24px

        font-weight: 400
        font-size: 14px
        line-height: 20px
        letter-spacing: 0.01em
        color: $gray-text

        img
            margin: 0 auto
            margin-bottom: 15px

    .carousel
        height: 424px
        &__photo
            width: auto
            height: auto
            img
                margin: 0 auto
        &__name
            padding: 0 30px
        &__text
            padding: 0 12px
