.page-questions-section
    &__container
        display: flex
        margin-bottom: 75px
    &__column
        &:nth-child(1)
            margin-right: 20px
            width: 32%
        &:nth-child(2)
            width: 66%
    .slick-list
        overflow: inherit
        