.page-questions-section
    &__container
        display: flex
        margin-bottom: 75px
    &__column
        &:nth-child(1)
            margin-right: 20px
            min-width: 388px
        &:nth-child(2)
            max-width: 792px
        