/* Главный экран */
.page-main-section
    position: relative
    min-height: 690px
    background: linear-gradient(to bottom, #E8F1FF 91%, #ffffff00 9%)
    margin-bottom: 120px
    padding-top: 155px
    &_servise
        min-height: 100px
        margin-bottom: 20px
        background: #fff !important
    &__container
        display: flex
    &__column
        width: 50%
        z-index: 1
        .btn
            width: auto
            padding: 17px 25px
    &__subtitle
        margin-bottom: 15px
    &__title
        margin-bottom: 35px
    &__description
        margin-bottom: 30px
        margin-right: 20%
    &__img
        img
            border-radius: 45px 45px 5px 5px

    &__form
        position: absolute
        top: 490px
        left: 46%
        z-index: 2
    &__decor
        img
            &:nth-child(1)
                position: absolute
                left: 38%
                top: 38%
            &:nth-child(2)
                position: absolute
                right: 4%
                bottom: 0
                z-index: 2
            &:nth-child(3)
                position: absolute
                left: 0
                bottom: -26%
                z-index: -1
    &_about

/* Вторая секция */
.page-second-section
    text-align: center
    margin-bottom: 70px
    &__subtitle
        margin-bottom: 15px
    &__title
        margin-bottom: 25px
    &__description
        padding: 0 22%

/* Секция с табом услуг */
#loader-page
    background: url(assets/img/ajax-loader.gif) no-repeat
    background-size: cover
    height: 60px
    width: 60px
    position: absolute
    z-index: 5
    top: 34%
    left: 48%
    display: none

.page-service-section
    &__container
        display: flex
    &__column
        position: relative
        &:nth-child(2)
            width: 32%
            margin-right: 20px
            margin-bottom: 100px
            height: auto
            .page-content
                &__title
                    margin-bottom: 15px
        &:nth-child(3)
            width: 66%

    .before-after, .before-after2, .before-after3, .before-after4, .before-after5, .before-after6, .before-after7, .before-after8, .before-after9, .before-after10
        margin-bottom: 80px

        &__procedure
            bottom: -42px
            left: 50%
            transform: translateX(-50%)

        .procedure
            background: #fff
    &_galerea
        .page-contetn__wrapper
            margin: 0 auto

    &__column-mob
        display: none
    &__buttons-page
        margin-top: 25px
        margin-bottom: 45px
        a
            margin-bottom: 10px
    &__form
        position: sticky
        top: 0
        .feedback-form-laboratory
            position: relative
            width: auto
            background: #ffffff

        .form-laboratory
            text-align: left
            &__input input
                width: 100%
            .checkbox__label
                color: $gray-text
            &__submit
                text-align: center
    &__decor
        z-index: -1
        &:nth-child(1)
            position: absolute
            right: -16px
            top: -60px
        &:nth-child(2)
            position: absolute
            right: 0
            bottom: -96px
    &__decor-content
        &:nth-child(1)
            position: absolute
            right: -16px
            top: -85px
        &:nth-child(2)
            position: absolute
            right: -90px
            top: 390px
            border-radius: 5px 5px 200% 5px

    .page-content
        &__banner
            &_service
                background: url(assets/img/page/price/page-services-02.jpg) center top/cover no-repeat
        &__name
            &_black
                color: $black-1
                margin-top: 20px
        &__chapter
            .slick-slider
                width: 100%

    .specialists-section__carousel
        margin-bottom: 50px
    .slick-dots
        bottom: -10px
        left: 50%
        transform: translateX(-50%)
    .carousel
        &__photo
            width: 254px
            height: auto

        .slick-dots
            margin-bottom: 10px
            transform: none
            &:hover
                .slick-active
                    button
                        background: #fff
